.book-list {
  display: flex;
  flex-direction: column;

  &__title {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #151515;
    margin-bottom: 12px;
  }

  &__items {
    display: flex;
  }
}
