.rating {
  display: flex;
  margin-top: 12px;

  &__item {
    color: #E8E8E8;
    margin-right: 2px;
    cursor: pointer;

    &--active {
      color: #F5BF00;
    }
  }
}

@media (max-width: 550px)  {
  .rating {
    &__item {
      font-size: 20px !important;
    }
  }
}

@media (max-width: 414px)  {
  .rating {
    &__item {
      font-size: 24px !important;
    }
  }
}
