@import 'styles/colors';
@import 'styles/mixins';

$breakpoint: 900px;

main {
  padding-top: 1em;
}

.Store {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 3em;
  background-color: $color-4;
  transition: background-color 0.3s;
  @include shadow;

  h2, h3, p, span {
    color: $color-white;
  }

  &.rating-5 {
    background-color: $color-1;
  }

  &.rating-4 {
    background-color: $color-2;
  }

  &.rating-3 {
    background-color: $color-3;
  }

  &__left {
    min-height: 400px;
    padding: 1em;
    position: relative;
  }

  &__right {
    padding: 1em;
  }

  &__image {
    margin: 1em;
    width: 16em;
    height: 16em;
    object-fit: cover;
    border-radius: 50%;
    @include shadow;
  }

  &__flag {
    position: absolute;
    top: 2em;
    right: 2em;
  }

  &__website {
    position: absolute;
    bottom: 2em;
    left: 2em;
    font-size: small;

    a {
      color: $color-white;
      text-decoration: none;
      border-left: solid 1px $color-white;
      padding-left: 0.5em;
      margin-left: 0.5em;
    }
  }
}

// portrait
@media (max-width: $breakpoint) {
}


// desktop, landscape
@media (min-width: $breakpoint) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .Store {
    width: 100%;
    max-width: 600px;
    justify-content: flex-start;
  }
}
