.stores-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (max-width: 1023px)  {
  .stores-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
