// https://www.color-hex.com/color-palette/115674
$color-1: #572034;
$color-2: #984d64;
$color-3: #b08539;
$color-4: #bbbbbb;
$color-5: #fbeff9;

$color-white: #fff;

// https://www.color-hex.com/color-palette/115685
//$color-1: #617946;
//$color-2: #7c9461;
//$color-3: #9cad88;
//$color-4: #c4cfb7;
//$color-5: #f0eae3;
