@import "./variables.scss";

@mixin responsive($breakpoint: "m") {
  $width: map-get($breakpoints, $breakpoint);

  @media (min-width: $width) {
    @content;
  }
}

@mixin visually-hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
}
